<%= render partial: "modals/motivations" %>
<%= render partial: "modals/information" %>
<%= render partial: "modals/shortcuts" %>

<div id="action-menu" class="action-menu">
    <div id="information-btn" class="action-btn" title="Information">
        <i class="fa fa-info-circle"></i>
    </div>
    <div id="shortcuts-btn" class="action-btn" title="Shortcuts">
        <i class="fa fa-keyboard-o" aria-hidden="true"></i>
    </div>
    <a href="https://forms.gle/ruHi34vxqXi4NsEi7" target="_blank">
        <div id="bug-report-btn" class="action-btn" title="Submit Bug Report">
            <i class="fa fa-bug"></i>
        </div>
    </a>
    <div id="motivations-btn" class="action-btn" title="Project Motivations">
        <i class="fa fa-lightbulb-o"></i> 
    </div>
    <div id="menu-btn" class="action-btn" title="Actions">
        <i class="fa fa-bars"></i>
    </div>
</div>
<a href="https://forms.gle/3Crj74cUDRsSuWUW7" target="_blank">
    <div id="feedback-btn" class="action-btn" title="Submit Feedback">
            <i class="fa fa-comment"></i>
    </div>
</a>

<%= javascript_pack_tag "modals/actions" %>
