<div id="zoom-controls" class="input-group">
  <button id="zoom-out" class="btn btn-dark btn-outline-secondary" type="button" title="Zoom Out">
    <i class="fa fa-minus"></i>
  </button>
  <span id="zoom-text" class="input-group-text bg-dark" title="Zoom Extent"></span>
  <button id="zoom-in" class="btn btn-dark btn-outline-secondary" type="button" title="Zoom In">
    <i class="fa fa-plus"></i>
  </button>
  <button id="fullscreen" class="btn btn-dark btn-outline-secondary" type="button" title="Enter Fullscreen">
    <i class="fa fa-expand"></i>
  </button>
</div>