<div class="modal fade" id="instructions" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Instructions</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Todo: Implement instructions.
            </div>
            <div class="modal-footer">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="showAgain">
                    <label class="form-check-label" for="showAgain">
                        Don't show again
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

<%= javascript_pack_tag "instructions" %>
