<div class="modal fade" id="motivations" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Project Motivations</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="carousel" class="carousel carousel-dark slide" data-bs-ride="carousel" data-bs->
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="2"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="3"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="4"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="5"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="6"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="12000">
              <figure>
                <blockquote class="blockquote">
                  <p>...mathematics is full of surprising <span class="highlight">connections</span>.
                  Any mathematician will happily confirm that statement and be able to give examples
                  from his or her experience. Indeed, discovering surprising <span class="highlight">connections</span>
                  is one of the great joys of the subject.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                  Timothy Gowers in <cite title="The Importance of Mathematics">The Importance of Mathematics</cite>
                </figcaption>
              </figure>
            </div>
            <div class="carousel-item" data-bs-interval="12000">
              <figure>
                <blockquote class="blockquote">
                  <p>One of the first and foremost duties of the teacher is not to give their students the impression that
                  mathematical problems have little <span class="highlight">connection</span> with each other, and no
                  <span class="highlight">connection</span> at all with anything else. We have a natural opportunity to
                  investigate the <span class="highlight">connections</span> of a problem when looking back at its solution.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                  George Pólya in <cite title="How to Solve It">How to Solve It</cite>
                </figcaption>
              </figure>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
              <figure>
                <blockquote class="blockquote">
                  <p>Teaching is more effective when it...creates <span class="highlight">connections</span> between topics.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                  <cite title="Mathematics Matters">Mathematics Matters</cite>, NCETM
                </figcaption>
              </figure>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
              <figure>
                <blockquote class="blockquote">
                  <p>Mathematics is concerned only with the enumeration and <span class="highlight">comparison</span> of
                  <span class="highlight">relations</span>.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                  Carl Friedrich Gauss
                </figcaption>
              </figure>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
              <figure>
                <blockquote class="blockquote">
                  <p>Mathematics compares the most diverse phenomena and discovers the secret
                  <span class="highlight">analogies</span> that unite them.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                  Joseph Fourier
                </figcaption>
              </figure>
            </div>
            <div class="carousel-item" data-bs-interval="10000">
              <figure>
                <blockquote class="blockquote">
                  <p>Teaching needs to be directly related to pursuing the curriculum purposes,
                  exploiting opportunities to apply and make <span class="highlight">connections</span>
                  in learning authentic contexts.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                  Donaldson in <cite title="Successful Futures">Successful Futures</cite>
                </figcaption>
              </figure>
            </div>
            <div class="carousel-item" data-bs-interval="12000">
              <figure>
                <blockquote class="blockquote">
                  <p>I like crossing the imaginary boundaries people set up between different fields -
                  it's very refreshing. There are lots of tools, and you don't know which one would
                  work. It's about being optimistic and trying to <span class="highlight">connect</span>
                  things.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                  Maryam Mirzakhani in <cite title="A Tenacious Explorer of Abstract Surfaces">A Tenacious Explorer of Abstract Surfaces</cite>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="motivation-btn" class="action-btn" title="Project Motivations">
    <i class="fa fa-lightbulb-o"></i> 
</div>

<%= javascript_pack_tag 'motivations' %>