<div class="modal fade" id="topic-areas-key" data-bs-backdrop="static" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Topic Areas Key</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body container">
        <div class="row">
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag "modals/topic-areas-key" %>