$svg-margin: 1rem;

body {
  background: #eee;

  main {
    div[data-mind-map] {
      display: none;
    }

    svg#visualization {
      height: calc(100% - #{2 * $svg-margin});
      margin: $svg-margin;
      cursor: all-scroll;
      border: 1px solid red;

      text {
        white-space: nowrap;
      }
    }
  }
}
