@import "variables";

body {
  background-color: #eee;

  main {
    div { 
      &[data-mind-map], &[data-link], &[data-topic-area] {
        display: none;
      }
    }

    svg {
      // height: calc(100% - #{2 * $svg-margin});
      // margin: $svg-margin;
      // border: 1px solid red;
      width: 100vw;
      height: 100vh;
      cursor: move;
    }
  }
}
