svg {
  .node-label, .link-label {
    cursor: pointer;
  }

  .link-label {
    border-radius: 5px;
    color: #fff;
  }

  .node-label, .link-label {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    font-size: 16px;
    padding: 0 10px;
    overflow: auto;
  }

  .label {
    cursor: pointer;
  }

  .node-label, .link-label, .label {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */ 
  }
}