@import "variables";

$button-width: 75px;

.modal {
  .modal-dialog {
    width: 40vw;
    max-width: 100%;

    .modal-content {
      height: 75vh;
      
      .modal-header {
        font-weight: bold;
      }

      .modal-body {
        padding: 0;
      }

      .carousel {
        height: 100%;

        .carousel-inner {
          height: 100%;
          overflow-y: auto;
        }

        .carousel-control-next, .carousel-control-prev {
          width: $button-width;
        }
        
        .carousel-item {
          padding: 1rem $button-width;

          a {
            color: $blue;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .highlight {
          color: $red;
        }

        .blockquote-footer {
          margin-top: 0.5rem;
          color: $green;
        }

        .carousel-indicators {
          margin-bottom: 0;

          button {
            width: 10px;
            height: 10px;
            border-radius: 50%;
          }
        }
      }

      .carousel-control-prev, .carousel-control-next {
        color: $black;
      }

      .modal-footer {
        justify-content: flex-start;

        label, input {
          cursor: pointer;
        }
      }
    }
  }

  &#motivations {
    .modal-content {
      height: 55vh;
      
      .carousel-inner {
        display: flex;
        align-items: center;
      }
    }
  }
}
