@import "variables";

.offcanvas {
  background-color: $body-bg;

  .offcanvas-title {
    display: flex;
    align-items: center;

    .key {
      height: 25px;
      width: 25px;
      border-radius: 2px;
      border: 2px solid $black;
    }

    .text {
      font-size: 1rem;
      line-height: 1.25;
      max-width: 90%;
      margin-left: 0.5rem;
    }
  }
}