@import "variables";

.offcanvas {
  background-color: $body-bg;

  .offcanvas-title {
    display: flex;
    align-items: center;

    .key {
      height: 25px;
      width: 25px;
      border-radius: 2px;
      border: 2px solid $black;
    }

    .type {
      margin: 0 0.5rem;
    }

    .type, .text {
      font-size: 1rem;
      line-height: 1.25;
      max-width: 90%;
    }
  }

  .offcanvas-body {
    display: flex;
    flex-direction: column;

    .link {
      color: $primary;
      user-select: none; /* supported by Chrome and Opera */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */ 

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  
    .explanation {
      display: flex;
      flex-grow: 1;
      align-items: end;
      font-size: 0.8rem;
      font-style: italic;
    }
  }

  &#node-details {
    .offcanvas-body {
      .from-links, .to-links {
        border-top: 1px solid $grey;

        .title {
          padding: 0.75rem 0;
        }

        ul {
          li {
            font-size: 0.8rem;
            margin-bottom: 0.25rem;

            .fa-long-arrow-right {
              margin: 0 0.25rem;
            }
          }
        }
      }

      .from-links {
        border-bottom: 1px solid $grey;
      }
    }
  }

  &#link-details {
    .offcanvas-body {
      display: flex;
      flex-direction: column;

      .source-node, .target-node, .list {
        border-top: 1px solid $grey;
        padding: 0.75rem 0;
      }

      .list {
        border-bottom: 1px solid $grey;

        ul {
          li {
            text-transform: capitalize;
          }
        }
      }
    }
  }
}
