// Bootstrap overrides
$font-family-sans-serif: Arial, Helvetica, sans-serif;
$body-bg: #eee;

$svg-margin: 1rem;

// Tableau 10
$blue: #4E79A7;
$orange: #F28E2B;
$red: #E15759;
$cyan: #76B7B2;
$green: #59A14F;
$yellow: #EDC948;
$purple: #B07AA1;
$pink: #FF9DA7;
$brown: #9C755F;
$grey: #BAB0AC;
