<div id="link-details" class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">
      <div class="key"></div>
      <div class="type">(Link)</div>
      <div class="text">Link</div>
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="source-node"></div>
    <div class="target-node"></div>
    <div class="list">
      <div class="title">These nodes are connected by the concepts:</div>
      <ul></ul>
    </div>
    <div class="explanation">
      This above blank area can be used to further detail and explain this link. 
      However, such detailed explanations have not yet been created.
    </div>
  </div>
</div>
